
 {% extends "base.html" %}
 {% load static %} 
 {%block title%}
 My Blog
 {%endblock%}
 {% block css_files%}
 <link rel="stylesheet" href="{% static "blog/index.css" %}">
 <link rel="stylesheet" href="{% static "blog/posts.css" %}">
 <link rel="stylesheet" href="{% static "app.css" %}">
 {% endblock %}
 
 {% block content %}

 

 <section id="welcome">
    <header>
       
        
        <img src ="{% static "blog/images/Blogs.jpg" %}" alt="Nagaraj - The Author Of This blog"/>
        <h2>CODERS BLOG</h2>
    </header>
    
    <p>Hi,I am Nagaraj and I love to blog about  tech and the world!</p>
 </section>
  

 <section id="latest-posts">
    <h2>My Latest Thoughts</h2>

 <ul>
 <li>
    {% for  post in posts %}
        {% include "blog/includes/post.html"%}
   {% endfor %}
  <li>  
 </ul>

    
</section>
 <section id="about">
    <h2>What I Do</h2>
    <p>
        
        I love programming,I love to help others and I enjoy exploring new technologies in genral!
    </p>
    <p>
        My goal is to keep on growing as a developer - and if I could help you do the same,I'd be very happy!
    </p>
 </section>

 
 {% endblock %}